.footer-container {
  text-align: center;
  border-top: 1px solid #000;
  position: fixed;
  z-index: +1;
  box-sizing: border-box;
  padding: 20px;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background: none repeat scroll 0 0 #fff;
}

.icon-push {
  display: inline;
  margin: 40px;
}
