* {
  margin: 0;
  padding: 0;
}

.navbar-logo {
  text-align: center;
  text-decoration: none;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.navbar-container {
  padding: 10px;
  border-bottom: 1px solid #000;
  width: 750px;
  margin: 0 auto;
}

.auth-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 20px;
}

.nav-link {
  padding: 10px;
  margin-bottom: 5px;
  color: #808080;
}

li {
  display: inline;
  list-style: none;
  margin-bottom: 10px;
}

.nav-link:hover {
  text-decoration: none;
  background-color: lightskyblue;
  transition: 0.3s;
  color: #fff;
  border-radius: 3px;
}

.active {
  background-color: lightskyblue;
  color: #fff;
  border-radius: 3px;
}

.logo {
  height: 200px;
}

@media only screen and (min-width: 320px) {
  .logo {
    height: 100px;
  }
  .navbar-container {
    padding: 10px;
    border-bottom: 1px solid #000;
    width: 350px;
    margin: 0 auto;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-link {
    text-decoration: none;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 480px) {
  .logo {
    height: 100px;
  }
  .navbar-container {
    padding: 10px;
    border-bottom: 1px solid #000;
    width: 425px;
    margin: 0 auto;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-link {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
    height: 125px;
  }
  .navbar-container {
    padding: 10px;
    border-bottom: 1px solid #000;
    width: 550px;
    margin: 0 auto;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-link {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    height: 150px;
  }
  .navbar-container {
    padding: 10px;
    border-bottom: 1px solid #000;
    width: 650px;
    margin: 0 auto;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-link {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    height: 200px;
  }
  .navbar-container {
    padding: 10px;
    border-bottom: 1px solid #000;
    width: 750px;
    margin: 0 auto;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-link {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
